body{
  
font-family: "puffin-arcade-nerf", sans-serif;
font-weight: 800;
font-style: italic;
background: url("./space-8271231_1280.png");
background-repeat: no-repeat;
background-size: cover;
display: grid;
}
.App{
  display: grid;
  justify-items: center;
}

.App h1{
  font-size: 3rem;
  backdrop-filter: invert(1);
  padding: 10px;
}
.App .canvas{
  display: grid;
 
}
.App .canvas canvas{
  justify-self: center;
  background-color: white;
}
canvas:hover{
  cursor: url("./pencil-fill.svg"), auto;
}
.save-btn{
  border: none;
  width: fit-content;
  background-color: transparent;
}
.tools{
  display: flex;
  position: absolute;
  top: 150px;
  padding:10px;
}
.post-btn{
  background: transparent;
    border: 4px solid;
    border-radius: 13px;
    padding: 0 10px;
    font-weight: 900;
    margin: 0 10px;
}
.color-picker{
  display: none;
}
.color-picker.show {
  display: block;
  position: absolute;
  top:80px;
  left: 80px;
}
.color-picker-background{
  display: none;
}
.color-picker-background.show{
  display: block;
  position: absolute;
  top:80px;
  
}
img{
  width: 400px;
  justify-self: center;
  border: 4px solid black;
  border-radius: 20px;
  margin: 20px;
}